html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}


nav,
footer {
    background-color: var(--cm-theme-900);
    color: var(--cm-theme-100);
}



footer .bi {
    color: var(--cm-theme-300);
    font-size: 1.5rem;
    padding-inline-start: .25rem;
    transition: color 0.25s;
}

footer .bi:hover {
    color: var(--cm-theme-core);
}


.nav-link:hover {
    color: var(--cm-theme-200);
}

.checklist {
    list-style-type: none;
}

.checklist .bi {
    color: var(--cm-theme-core);
}

.devicons {
    font-size: 3.5rem;
}

.btn-primary {
    --bs-btn-bg: var(--cm-theme-600);
    --bs-btn-border-color: var(--cm-theme-600);
    --bs-btn-hover-bg: var(--cm-theme-700);
    --bs-btn-hover-border-color: var(--cm-theme-700);
    --bs-btn-active-bg: var(--cm-theme-800);
    --bs-btn-active-border-color: var(--cm-theme-800);

}

.app-logo {
    max-width: 400px;
}